* {
  box-sizing: border-box;
}

.App {
  margin: auto;
  width: 50%;
  font-size: 1.25rem;
}

body {
  font-family: 'Barlow', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: .05rem;
}

@media (max-width: 1000px) {
  .App {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .App {
    width: 90%;
  }
}



